/* line 34, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 35, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 37, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 48, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 50, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 52, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 62, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 63, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 71, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a {
  color: #0000ee;
}

/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:visited {
  color: #551a8b;
}

/* line 73, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:hover {
  color: #0066ee;
}

/* line 74, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 77, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 87, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 89, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 91, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 93, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 95, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 97, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 100, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 105, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 106, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 108, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 85%;
}

/* line 111, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 112, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 113, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 121, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 122, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 123, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 134, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 138, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 146, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 154, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 155, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 158, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
label {
  cursor: pointer;
}

/* line 163, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 169, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 173, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 179, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 183, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 187, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 188, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 189, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 193, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 198, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 202, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 210, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 211, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
td {
  vertical-align: top;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on November 12, 2012 */
@font-face {
  font-family: 'macleans_reg';
  src: url("fonts/macleansbody-regular-webfont.eot");
  src: url("fonts/macleansbody-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/macleansbody-regular-webfont.woff") format("woff"), url("fonts/macleansbody-regular-webfont.ttf") format("truetype"), url("fonts/macleansbody-regular-webfont.svg#macleans_bodyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'new_macleans_italic';
  src: url("fonts/newmacleansdisplay-italic-webfont.eot");
  src: url("fonts/newmacleansdisplay-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/newmacleansdisplay-italic-webfont.woff") format("woff"), url("fonts/newmacleansdisplay-italic-webfont.ttf") format("truetype"), url("fonts/newmacleansdisplay-italic-webfont.svg#new_macleans_displayitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'new_macleans_reg';
  src: url("fonts/newmacleansdisplay-regular-webfont.eot");
  src: url("fonts/newmacleansdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/newmacleansdisplay-regular-webfont.woff") format("woff"), url("fonts/newmacleansdisplay-regular-webfont.ttf") format("truetype"), url("fonts/newmacleansdisplay-regular-webfont.svg#new_macleans_displayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bentonsans';
  src: url("fonts/BentonSans-Regular.eot");
  src: url("fonts/BentonSans-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/BentonSans-Regular.ttf") format("truetype"), url("fonts/BentonSans-Regular.svg#BentonSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bentonsansbold';
  src: url("fonts/BentonSans-Bold.eot");
  src: url("fonts/BentonSans-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/BentonSans-Bold.ttf") format("truetype"), url("fonts/BentonSans-Bold.svg#BentonSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bentoncomp';
  src: url("fonts/BentonSansComp.eot");
  src: url("fonts/BentonSansComp.eot?#iefix") format("embedded-opentype"), url("fonts/BentonSansComp.ttf") format("truetype"), url("fonts/BentonSansComp.svg#BentonSansComp") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bentonblack';
  src: url("fonts/bentonsansblack.eot");
  src: url("fonts/bentonsansblack.eot?#iefix") format("embedded-opentype"), url("fonts/bentonsansblack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bentonlight';
  src: url("fonts/bentonsanslight.eot");
  src: url("fonts/bentonsanslight.eot?#iefix") format("embedded-opentype"), url("fonts/bentonsanslight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bentoncompbold';
  src: url("fonts/bentonsanscompbold.eot");
  src: url("fonts/bentonsanscompbold.eot?#iefix") format("embedded-opentype"), url("fonts/bentonsanscompbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bentonextracompbold';
  src: url("fonts/bentonsansextracompbold.eot");
  src: url("fonts/bentonsansextracompbold.eot?#iefix") format("embedded-opentype"), url("fonts/bentonsansextracompbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poynterbold';
  src: url("fonts/poyntergothictextbold.eot");
  src: url("fonts/poyntergothictextbold.eot?#iefix") format("embedded-opentype"), url("fonts/poyntergothictextbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poyntersans';
  src: url("fonts/PoynterGothicText-Regular.eot");
  src: url("fonts/PoynterGothicText-Regular?#iefix") format("embedded-opentype"), url("fonts/PoynterGothicText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* headers */
/* font colors */
/* line 7, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
}

/* line 17, ../sass/partials/_page.scss */
body {
  margin: 12px;
}

/* line 21, ../sass/partials/_page.scss */
#container {
  width: 99.8%;
}

/* line 26, ../sass/partials/_page.scss */
header.article-nav-header {
  position: absolute;
  width: 100%;
  height: 22px;
  top: 0px;
  left: 0px;
  color: white;
  background: black;
}
/* line 34, ../sass/partials/_page.scss */
header.article-nav-header.front {
  background: #0078ae;
}
/* line 37, ../sass/partials/_page.scss */
header.article-nav-header.national {
  background: #d71920;
}
/* line 40, ../sass/partials/_page.scss */
header.article-nav-header.international {
  background: #057235;
}
/* line 43, ../sass/partials/_page.scss */
header.article-nav-header.society {
  background: #bca445;
}
/* line 46, ../sass/partials/_page.scss */
header.article-nav-header.business {
  background: black;
}
/* line 49, ../sass/partials/_page.scss */
header.article-nav-header button.navbar-collapsed {
  float: left;
  background: none;
  border: none;
  line-height: 22px;
  vertical-align: middle;
  padding-top: 4px;
}
/* line 56, ../sass/partials/_page.scss */
header.article-nav-header button.navbar-collapsed .icon-bar {
  display: block;
  width: 16px;
  height: 2px;
  background-color: whiteSmoke;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 3px;
}
/* line 70, ../sass/partials/_page.scss */
header.article-nav-header h1 {
  display: inline;
  text-align: center;
  font-size: 1.0em;
  font-weight: bold;
}
/* line 79, ../sass/partials/_page.scss */
header.article-nav-header .cat-title {
  width: 140px;
  margin: 0 auto;
}

/* line 85, ../sass/partials/_page.scss */
header.home-header {
  text-align: center;
  margin-top: -5px;
}
/* line 88, ../sass/partials/_page.scss */
header.home-header h1 {
  text-indent: -9999px;
  width: 300px;
  margin: 0px auto 0;
  height: 75px;
  background: url("images/mac_logo.png") no-repeat;
  background-size: 295px 72px;
  background-color: white;
}
/* line 97, ../sass/partials/_page.scss */
header.home-header hr {
  position: absolute;
}
/* line 100, ../sass/partials/_page.scss */
header.home-header .date {
  margin-top: 5px;
  text-transform: uppercase;
  font-family: 'new_macleans_reg';
  font-weight: 900;
  font-size: 19px;
  letter-spacing: 4px;
}

/* line 109, ../sass/partials/_page.scss */
section.category {
  width: 100%;
  color: white;
}
/* line 112, ../sass/partials/_page.scss */
section.category article {
  color: #1c1b1c;
  margin: 0 0px;
  padding: 0 0px;
  border-bottom: 1px solid rgba(28, 27, 28, 0.2);
}
/* line 118, ../sass/partials/_page.scss */
section.category h1 {
  font-family: 'bentonsansbold';
  font-weight: 300;
  height: 16px;
  color: white;
  font-size: 1.0em;
  padding: 7px 0px 7px 6px;
  margin: 0 0px;
  line-height: 16px;
  vertical-align: middle;
}
/* line 130, ../sass/partials/_page.scss */
section.category h2 {
  font-family: 'bentonsansbold';
  font-weight: 300;
  font-size: 18px;
  padding-left: 0;
  line-height: 1.1em;
}
/* line 136, ../sass/partials/_page.scss */
section.category h2 a {
  color: #1c1b1c;
  text-decoration: none;
  display: block;
  padding: 11px 13px;
  margin: -13px;
}
/* line 142, ../sass/partials/_page.scss */
section.category h2 a strong {
  font-family: 'bentonsans';
  font-size: 16px;
  font-weight: normal;
}
/* line 147, ../sass/partials/_page.scss */
section.category h2 a b {
  font-weight: normal;
}
/* line 154, ../sass/partials/_page.scss */
section.category.thisweek h1 {
  background: #0078ae;
}
/* line 158, ../sass/partials/_page.scss */
section.category.national h1 {
  background: #d71920;
}
/* line 161, ../sass/partials/_page.scss */
section.category.international h1 {
  background: #057235;
}
/* line 165, ../sass/partials/_page.scss */
section.category.society h1 {
  background: #bca445;
}
/* line 169, ../sass/partials/_page.scss */
section.category.business h1 {
  background: black;
}
/* line 173, ../sass/partials/_page.scss */
section.category.bak h1 {
  background: #8a8c8f;
}
/* line 177, ../sass/partials/_page.scss */
section.category.theend h1 {
  background: black;
}
/* line 179, ../sass/partials/_page.scss */
section.category article:last-child {
  border-bottom: none;
}

/* line 185, ../sass/partials/_page.scss */
#main.masthead p {
  margin: 0px;
  text-align: center;
  font-family: 'bentoncomp';
  font-weight: 350;
  font-size: 1.0em;
}
/* line 191, ../sass/partials/_page.scss */
#main.masthead p em {
  text-transform: uppercase;
  font-family: 'bentonsans';
  font-style: normal;
  font-size: 0.75em;
}
/* line 197, ../sass/partials/_page.scss */
#main.masthead p b {
  font-family: 'bentonblack';
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: normal;
}
/* line 206, ../sass/partials/_page.scss */
#main.home {
  margin-top: 10px;
}
/* line 209, ../sass/partials/_page.scss */
#main img {
  max-width: 100%;
}
/* line 212, ../sass/partials/_page.scss */
#main .image-featured {
  text-align: center;
}
/* line 214, ../sass/partials/_page.scss */
#main .image-featured a img {
  max-height: 250px;
}
/* line 218, ../sass/partials/_page.scss */
#main .editor-image-wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 224, ../sass/partials/_page.scss */
#main .editor-image-wrapper img {
  max-height: 250px;
  max-width: none;
  margin-left: -50%;
}
/* line 230, ../sass/partials/_page.scss */
#main .wide-image-wrapper {
  position: relative;
  width: auto;
  height: 134px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 236, ../sass/partials/_page.scss */
#main .wide-image-wrapper img {
  max-height: 250px;
  max-width: none;
  position: relative;
  top: -50%;
}
/* line 243, ../sass/partials/_page.scss */
#main .image-caption {
  text-align: left;
  margin: 5px auto 0;
  clear: both;
  float: none;
  text-transform: uppercase;
  font-size: 0.6em;
  color: #666;
}
/* line 252, ../sass/partials/_page.scss */
#main .slug {
  font-family: 'new_macleans_reg';
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 0.8em;
  margin-top: 1.5em;
}
/* line 261, ../sass/partials/_page.scss */
#main blockquote {
  margin-top: 0.7em;
  font-family: 'new_macleans_reg';
  font-size: 1.338em;
  text-align: center;
}
/* line 266, ../sass/partials/_page.scss */
#main blockquote small {
  font-size: 0.91em;
  font-family: 'new_macleans_italic';
  display: block;
}
/* line 273, ../sass/partials/_page.scss */
#main .hedline h1 {
  font-family: 'bentoncompbold';
  font-weight: 100;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: center;
  line-height: 0.95em;
  font-size: 2.4em;
}
/* line 282, ../sass/partials/_page.scss */
#main .abstract {
  font-family: 'bentonsans';
  font-weight: 300;
  text-align: center;
  font-size: 1.13em;
  line-height: 1.35em;
}
/* line 289, ../sass/partials/_page.scss */
#main .byline {
  font-family: 'bentonblack';
  margin: 1.4em 0 0.9em;
  font-size: 0.737em;
  text-align: center;
  text-transform: uppercase;
}
/* line 296, ../sass/partials/_page.scss */
#main .content {
  font-family: 'macleans_reg';
  font-size: 1.228em;
  line-height: 1.22em;
  text-align: left;
}
/* line 301, ../sass/partials/_page.scss */
#main .content p {
  text-indent: 1.0em;
  margin: 0 0 0;
}
/* line 306, ../sass/partials/_page.scss */
#main .content p:first-child {
  text-indent: 0;
  margin-top: 1.0em;
}
/* line 311, ../sass/partials/_page.scss */
#main .content.letters p {
  text-indent: 0;
  margin: 0 auto;
}
/* line 312, ../sass/partials/_page.scss */
#main .content.letters b {
  display: block;
  margin: 0.8em 0 0;
  font-family: 'bentoncompbold';
  font-weight: normal;
  font-size: 1.09em;
}
/* line 314, ../sass/partials/_page.scss */
#main .content.letters em {
  display: block;
  margin: 0.2em 0 0.8em;
}
/* line 317, ../sass/partials/_page.scss */
#main .content.interview p {
  text-indent: 0;
  margin: 0.8em auto;
}
/* line 318, ../sass/partials/_page.scss */
#main .content.interview p:first-child {
  margin-top: 1.0em;
}
/* line 321, ../sass/partials/_page.scss */
#main .content.capital-diary p {
  text-indent: 1.0em;
  margin: 0 0 0;
}
/* line 330, ../sass/partials/_page.scss */
#main article.goodnews .hedline h1 {
  text-align: center;
}
/* line 334, ../sass/partials/_page.scss */
#main article.goodnews dl dt a {
  font-family: 'bentoncompbold';
  font-size: 1.1em;
  color: black;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid #000;
  display: block;
  padding: 0.5em 10px;
  margin: 0 -10px;
}
/* line 344, ../sass/partials/_page.scss */
#main article.goodnews dl dt a em {
  font-family: 'new_macleans_italic';
  font-style: normal;
}
/* line 348, ../sass/partials/_page.scss */
#main article.goodnews dl dt a:after {
  font-family: Arial;
  font-size: 1.2em;
  float: right;
  content: "+";
}
/* line 354, ../sass/partials/_page.scss */
#main article.goodnews dl dt a.open {
  border-bottom: none;
}
/* line 358, ../sass/partials/_page.scss */
#main article.goodnews dl dt a.open:after {
  font-family: Arial;
  font-size: 1.2em;
  float: right;
  content: "-";
}
/* line 365, ../sass/partials/_page.scss */
#main article.goodnews dl dd {
  margin: 0 -10px 0;
  padding: 0 10px 1.0em;
  font-family: 'new_macleans_reg';
  font-size: 1.228em;
  line-height: 1.3em;
  text-align: left;
  border-bottom: 2px solid #000;
}
/* line 378, ../sass/partials/_page.scss */
#main article.backpages .slug {
  font-family: 'poynterbold';
  letter-spacing: 0px;
  font-weight: bold;
}
/* line 385, ../sass/partials/_page.scss */
#main article.backpages dl dt a .book-image {
  float: left;
  width: 33.33%;
  padding: 20px 0 0px;
}
/* line 389, ../sass/partials/_page.scss */
#main article.backpages dl dt a .book-image img {
  width: 85%;
}
/* line 395, ../sass/partials/_page.scss */
#main article.backpages dl dt a .title-author {
  float: right;
  width: 66.66%;
}
/* line 398, ../sass/partials/_page.scss */
#main article.backpages dl dt a .title-author h3 {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: normal;
}
/* line 403, ../sass/partials/_page.scss */
#main article.backpages dl dt a .title-author span {
  font-family: 'bentonlight';
}
/* line 407, ../sass/partials/_page.scss */
#main article.backpages dl dt a.open {
  border-bottom: 1px solid #000;
}
/* line 410, ../sass/partials/_page.scss */
#main article.backpages dl dt a:after {
  content: '';
}
/* line 413, ../sass/partials/_page.scss */
#main article.backpages dl dt a.open:after {
  content: '';
}
/* line 417, ../sass/partials/_page.scss */
#main article.backpages dl dd {
  margin: 0 -10px 0;
  padding: 10px 10px 5px;
  font-family: 'new_macleans_reg';
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: left;
  border-bottom: none;
}

/* TOC FEATURED IMAGES */
/* line 433, ../sass/partials/_page.scss */
.featured-nav span {
  position: relative;
  top: -7px;
  margin-left: 3px;
}

/* line 438, ../sass/partials/_page.scss */
.featured-nav span.selected {
  color: rgba(0, 0, 0, 0.5);
}

/* line 442, ../sass/partials/_page.scss */
.featured-nav {
  z-index: 9999;
  left: 50%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  margin-bottom: -10px;
}

/* line 450, ../sass/partials/_page.scss */
#wrapper {
  overflow: hidden;
  position: relative;
  max-height: 200px;
}

/* END TOC FEATURED IMAGES */
/* line 457, ../sass/partials/_page.scss */
.film {
  color: #ed1c24;
}

/* line 460, ../sass/partials/_page.scss */
.arts {
  color: #028b98;
}

/* line 463, ../sass/partials/_page.scss */
.bazaar {
  color: #e85aa1;
}

/* line 466, ../sass/partials/_page.scss */
.books {
  color: #004f8b;
}

/* line 469, ../sass/partials/_page.scss */
.help {
  color: -type;
}

/* line 472, ../sass/partials/_page.scss */
.humor {
  color: #0ca650;
}

/* line 475, ../sass/partials/_page.scss */
.media {
  color: #948100;
}

/* line 478, ../sass/partials/_page.scss */
.music {
  color: #6b217f;
}

/* line 481, ../sass/partials/_page.scss */
.stage {
  color: #80b63a;
}

/* line 484, ../sass/partials/_page.scss */
.radio {
  color: #bfd630;
}

/* line 487, ../sass/partials/_page.scss */
.tv {
  color: #00aeee;
}

/* line 490, ../sass/partials/_page.scss */
.taste {
  color: #a70e16;
}

/* line 493, ../sass/partials/_page.scss */
.exhibit {
  color: #7c77ae;
}

/* line 496, ../sass/partials/_page.scss */
.web {
  color: #5d7ea9;
}

/* Swipeview vertical */
/* line 505, ../sass/partials/_page.scss */
#outerwrapper {
  position: absolute;
  top: 0;
  visibility: hidden;
  padding: 0;
}

/* line 511, ../sass/partials/_page.scss */
#outerwrapper h1 {
  background: black;
  color: white;
  font-family: 'bentoncompbold';
  margin: 0;
  font-size: 1.5em;
  padding: 5px 0;
  text-align: center;
}

/* line 521, ../sass/partials/_page.scss */
#vert-wrapper {
  margin: 0 auto;
  width: 320px;
  height: 380px;
}

/* line 527, ../sass/partials/_page.scss */
#vert-wrapper .section {
  width: 100%;
  height: 100%;
}

/* line 532, ../sass/partials/_page.scss */
#vert-wrapper .section .page {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 538, ../sass/partials/_page.scss */
#vert-wrapper .section .page img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 548, ../sass/partials/_page.scss */
#vert-wrapper .section .page .pagename {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  left: 5px;
  bottom: 5px;
}

/* line 556, ../sass/partials/_page.scss */
.feature-caption {
  text-align: left;
  position: relative;
  top: -25px;
  text-shadow: 2px 2px 5px #000;
  color: white;
  width: 280px;
  margin: 0 auto;
  font-family: 'bentonsansbold';
  font-size: 16px;
  font-weight: normal;
}

/* line 568, ../sass/partials/_page.scss */
span a {
  text-decoration: none;
}

/* line 571, ../sass/partials/_page.scss */
#cover-image {
  height: 427px;
  position: relative;
  margin: 0 auto;
  display: block;
}

/* fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 12, ../sass/partials/_fancybox.scss */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  width: 320px !important;
  height: auto !important;
  outline: none;
  vertical-align: top;
}

/* line 22, ../sass/partials/_fancybox.scss */
.fancybox-wrap {
  position: absolute;
  color: #444;
  top: 0;
  left: 0 !important;
  z-index: 8020;
}

/* line 30, ../sass/partials/_fancybox.scss */
.fancybox-skin {
  position: relative;
  background: pink;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 40, ../sass/partials/_fancybox.scss */
.fancybox-opened {
  z-index: 8030;
}

/* line 44, ../sass/partials/_fancybox.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 50, ../sass/partials/_fancybox.scss */
.fancybox-outer, .fancybox-inner {
  position: relative;
}

/* line 54, ../sass/partials/_fancybox.scss */
.fancybox-inner {
  overflow: hidden;
}

/* line 58, ../sass/partials/_fancybox.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 62, ../sass/partials/_fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 70, ../sass/partials/_fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 76, ../sass/partials/_fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 81, ../sass/partials/_fancybox.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("fancybox_sprite.png");
}

/* line 85, ../sass/partials/_fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

/* line 97, ../sass/partials/_fancybox.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("fancybox_loading.gif") center center no-repeat;
}

/* line 103, ../sass/partials/_fancybox.scss */
.fancybox-close {
  position: absolute;
  content: 'X';
  color: white;
  top: -30px;
  right: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 9999;
}

/* line 115, ../sass/partials/_fancybox.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

/* line 127, ../sass/partials/_fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 131, ../sass/partials/_fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 135, ../sass/partials/_fancybox.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

/* line 146, ../sass/partials/_fancybox.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 151, ../sass/partials/_fancybox.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 156, ../sass/partials/_fancybox.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 160, ../sass/partials/_fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
/* line 172, ../sass/partials/_fancybox.scss */
.fancybox-lock {
  overflow: hidden;
}

/* line 176, ../sass/partials/_fancybox.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background-color: black;
}

/* line 187, ../sass/partials/_fancybox.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 193, ../sass/partials/_fancybox.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
/* line 200, ../sass/partials/_fancybox.scss */
.fancybox-title {
  padding: 10px 15px 0;
  visibility: hidden;
  font-family: 'bentonlight';
  font-size: 1.0em;
  position: relative;
  text-shadow: none;
  font-weight: normal;
  z-index: 8050;
}

/* line 210, ../sass/partials/_fancybox.scss */
.fancybox-title small {
  margin-top: 4px;
  text-transform: uppercase;
  font-family: 'bentonsans';
  font-size: 0.7em;
}

/* line 217, ../sass/partials/_fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 221, ../sass/partials/_fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

/* line 230, ../sass/partials/_fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 246, ../sass/partials/_fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 252, ../sass/partials/_fancybox.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 256, ../sass/partials/_fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/* line 7, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.ir br {
  display: none;
}

/* line 9, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 56, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 57, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  /* line 11, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 13, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
