
/* headers */

$thisweek: rgba(0, 120, 174, 1.0);
$national: #d71920;
$international: #057235;
$black: #000;
$yellow: rgba(188, 164, 69, 1.0);
$backpages: #8a8c8f;

$toc-borders: rgba(28, 27, 28, 0.2);
$charcoal: rgba(28, 27, 28, 1.0);

/* font colors */
$film-type: #ed1c24;
$arts-type: #028b98;
$bazaar-type: #e85aa1;
$books-type: #004f8b;
$help-type: #f58125;
$humor-type: #0ca650;
$media-type: #948100;
$music-type: #6b217f;
$stage-type: #80b63a;
$radio-type: #bfd630;
$tv-type: #00aeee;
$taste-type: #a70e16;
$exhibit-type: #7c77ae;
$web-type: #5d7ea9;